<footer>
    <div class="top">
        <div class="products">
            <p class="title">Products</p>
        
            <div>
                <ul>
                    <li><a href="#our-products">Grapes</a></li>
                    <li><a href="#our-products">Mangos</a></li>
                    <li><a href="#our-products">Pomegranates</a></li>
                    <li><a href="#our-products">Banana</a></li>
                    <li><a href="#our-products">Water Melon</a></li>
                </ul>
        
                <ul>
                    <li><a href="#our-products">Onion</a></li>
                    <li><a href="#our-products">Tomato</a></li>
                    <li><a href="#our-products">Green Chilli</a></li>
                    <li><a href="#our-products">Okra</a></li>
                    <li><a href="#our-products">Drumsticks</a></li>
                </ul>
            </div> 
        </div> 
        <div class="company">
            <p class="title">Company</p>
            <div>
                <ul>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a routerLink="/contact-us">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="social-media">
            <img src="assets/horizontal_logo.png" />
            <span>Join us in</span>
            <div class="icons">
                <a href="https://www.instagram.com/indiefruit.fpc/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="javascript:void(0)" (click)="showComingSoon('Facebook')">
                    <i class="fa fa-facebook"></i>
                </a>
                
                <a href="javascript:void(0)" (click)="showComingSoon('Twitter')">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/company/indiefruit-farmer-producer-company-limited" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://www.youtube.com/@indiefruitfpc" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="rights">
            &copy; <abbr title="Indiefruit Farmer Producer Company Limited">INDIEFRUIT</abbr>. ALL RIGHTS RESERVED
        </div>
        <a href="#top" class="go-to-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <div class="email-whatsapp-contact">
            <a href="mailto:indiefruit.fpc@gmail.com">
                <i class="fa fa-envelope"></i>&nbsp;indiefruit.fpc&#64;gmail.com
            </a>
            <a href="https://wa.me/918830220294?text=Hello!%20I%20am%20interested%20in%20your%20products">
                <i class="fa fa-whatsapp"></i>&nbsp;+91 8830 220294
            </a>
        </div>
    </div>
</footer>