:host {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 50px;
    .title {
        font-family: 'Oswald', sans-serif;
        align-self: center;
        color: #97cd01;
        font-size: 45px;
        font-weight: bold;
    }
    .sub-title {
        font-family: 'Caveat', cursive;
        font-size: 25px;
        align-self: center;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 15px;
        .one-feature {
            display: flex;
            flex-direction: row;
            width: 40%;
            gap: 10px;
        }
    }
}