<h2 id="why-to-choose-us" class="section-title">WHY TO CHOOSE US</h2>
<span class="sub-title">Our Company is a government recognized export house and member of APEDA.</span>
<div class="row">
    <div class="one-feature">
        <img style="height:64px;width:64px" src="assets/images/premium_quality.png" />
        <div class="col-md-5 fh5co-feature-text">
            <h3>Premium Quality</h3>
            <p>Our products are direct from farm, hand picked, well packed and maintained.</p>
            <p><a href="#">Read more</a></p>
        </div>
    </div>
    <div class="one-feature">
        <img style="height:64px;width:64px" src="assets/images/customer_satisfaction.png" />
        <div class="col-md-5 fh5co-feature-text">
            <h3>Customer Satisfaction</h3>
            <p>We value our customers and their requirements. Customers satisfaction is our main goal.</p>
            <p><a href="#">Read more</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="one-feature"> 
        <img style="height:64px;width:64px" src="assets/images/competitive_rates.png" />
        <div class="col-md-5 fh5co-feature-text">
            <h3>Competitive Rates</h3>
            <p>Our contacts with farmers, logistics etc. plays main role in providing competitive rates & flexible
                payment terms to our overseas partners which helps in faster growth.</p>
            <p><a href="#">Read more</a></p>
        </div>
    </div>
    <div class="one-feature">
        <img style="height:64px;width:64px" src="assets/images/quick_quotations.png" />
        <div class="col-md-5 fh5co-feature-text">
            <h3>Quick Quotations</h3>
            <p>We take an immediate actions on customer's inquiries. Providing quick quotations etc.</p>
            <p><a href="#">Read more</a></p>
        </div>
    </div>
</div>